services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - ml-backend
    # volumes:
    #   - ./backend:/app
    #   - /app/node_modules
    command: node dist/server.js

  ml-backend:
    build: ./ml-backend
    ports:
      - "8000:8000"
    env_file:
      - ./ml-backend/.env
    depends_on:
      - elasticsearch
    volumes:
      - ./ml-backend:/app


  frontend:
    build: ./frontend
    platform: linux/amd64
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.0.3
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - xpack.security.enabled=false
      - xpack.security.enrollment.enabled=false