[Unit]
Description=MapleTenders Backend API Server
After=network.target multi-user.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/app
ExecStart=/usr/bin/env node dist/server.js
Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production
EnvironmentFile=/home/ubuntu/app/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
